#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------
#VSCode
.vscode/

#-------------------------------
#   Cache
#-------------------------------
__pycache__

bin/
include/
lib/
pyvenv.cfg