<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>旅人力診断｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/guest-diagnosis.css" />
    </head>
    <body>

        <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $(function(){
            $("#common").load(src="http://127.0.0.1:8000/common");
        });
        </script>

    <h1>ログイン</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="btn-sticky" type="submit">ログイン</button>
    </form>
    <p><a class="" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
    </body>
</html>