<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>旅人力診断｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/guest-diagnosis.css" />
    </head>
    <body>

        <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $(function(){
            $("#common").load(src="http://127.0.0.1:8000/common");
        });
        </script>

        <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as possword_reset_url %}
                <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ password_reset_url }}">パスワードリセット再申請</a></p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        
                        {{% form.as_p %}}

                        <button class="btn btn-primary" type="submit">変更</button>
                    </form>
                {% else %}
                    <p>パスワードは変更されています。</p>
                {% endif %}
            {% endif %}  
    </body>
</html>