
<header class="header">
    <nav class="global-nav">
        <ul class="global-nav__list">
            {% if user.is_authenticated %}
            <li class="global-nav__list--item"><a href="{% url 'traveler:index' %}">ホーム</a></li>
            <li class="global-nav__list--item"><a href="{% url 'traveler:my_page' %}">マイページ</a></li>
            <li class="global-nav__list--item"><a href="{% url 'traveler:diagnosis' %}">旅人力診断</a></li>
            <li class="global-nav__list--item"><a href="{% url 'traveler:photo_list' %}">旅先写真館</a></li> 
            <li class="global-nav__list--item"><a href="{% url 'traveler:inquiry' %}">問い合わせ</a></li>
            <li class="global-nav__list--item"><a href="{% url 'account_logout' %}">ログアウト</a></li>
            {% else %}
            <li class="global-nav__list--item"><a href="{% url 'traveler:index' %}">ホーム</a></li>
            <li class="global-nav__list--item"><a href="{% url 'traveler:guest_diagnosis' %}">旅人力診断</a></li>
            <li class="global-nav__list--item"><a href="{% url 'traveler:inquiry' %}">問い合わせ</a></li>
            <li class="global-nav__list--item"><a href="{% url 'account_login' %}">ログイン</a></li>
            <li class="global-nav__list--item"><a href="{% url 'account_signup' %}">新規作成</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="hamburger" id="js-hamburger">
        <span class="hamburger__line hamburger__line--1"></span>
        <span class="hamburger__line hamburger__line--2"></span>
        <span class="hamburger__line hamburger__line--3"></span>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
</header>

<footer>
    <p class="footer">Copyright &copy; 旅人力診断 2020</p>
</footer>


<script type="text/javascript" src="/static/js/nav.js"></script>