
<header class="header">
    <nav class="global-nav">
        <ul class="global-nav__list">
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000">ホーム</a></li>
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/inquiry/">問い合わせ</a></li>
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/accounts/login/">ログイン</a></li>
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/accounts/signup/">新規登録</a></li>
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/guest_diagnosis/">旅人力診断</a></li>
            <li class="global-nav__list--item"><a href="http://127.0.0.1:8000">旅先写真館</a></li> 
        </ul>
    </nav>
    <div class="hamburger" id="js-hamburger">
        <span class="hamburger__line hamburger__line--1"></span>
        <span class="hamburger__line hamburger__line--2"></span>
        <span class="hamburger__line hamburger__line--3"></span>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
</header>

<footer>
    <p class="footer">Copyright &copy; 旅人力診断 2020</p>
</footer>


<script type="text/javascript" src="/static/js/nav.js"></script>