<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>旅人力診断｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/guest-diagnosis.css" />
    </head>
    <body>
        <div class="top">
            <h1 class="top__h1">旅人力診断</h1>
            <img class="top__img-guest-diagnosis" src="/static/img/09.jpg"></div>
        </div>

        <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $(function(){
            $("#common").load(src="http://127.0.0.1:8000/common");
        });
        </script>

        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="field">

                {{ form.as_table }}

            </table>
            <button class="btn-vertical-border" type="submit">追加</button>
        </form>
    </body>
</html>