

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>旅人力診断｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/guest-diagnosis.css" />
    </head>
    <body>

        <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $(function(){
            $("#common").load(src="http://127.0.0.1:8000/common");
        });
        </script>

    <h2>あなたの旅人力は「松尾 芭蕉」級です。</h2> 
    <p>目指せ「コロンブス」級！！</p>
    
    <a href="{% url 'account_signup' %}" class="btn-sticky">新規登録はこちら</a>
    <p></p>
    <img class="top__img-guest-diagnosis" src="/static/img/11.jpg"></div>
    
    </body>
</html>