<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>旅人力診断｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/guest-diagnosis.css" />
    </head>
    <body>
        <div class="top">
            <h1 class="top__h1">旅人力診断</h1>
            <img class="top__img-guest-diagnosis" src="/static/img/09.jpg"></div>
        </div>

        <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $(function(){
            $("#common").load(src="http://127.0.0.1:8000/common");
        });
        </script>

        <form method="post">
            {% csrf_token%}
            {{ form.non_field_errors}}                
            {% for field in form%}
                <div class="">
                    <label for="{{ field.id_for_label }}" class="field-label-tag">
                        <strong>{{ field.label_tag}}</strong>
                    </label>
                    <div class="field">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn-vertical-border" type="subimit">診断</button> 
        </form>
    </body>
</html>