<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ｜旅人力診断</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
</head>
<body>
    <header class="header">
        <nav class="global-nav">
            <ul class="global-nav__list">
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000">ホーム</a></li>
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/inquiry/">問い合わせ</a></li>
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/accounts/login/">ログイン</a></li>
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/accounts/signup/">新規登録</a></li>
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000/guest_diagnosis/">旅人力診断</a></li>
                <li class="global-nav__list--item"><a href="http://127.0.0.1:8000">旅先写真館</a></li> 
            </ul>
        </nav>
        <div class="hamburger" id="js-hamburger">
            <span class="hamburger__line hamburger__line--1"></span>
            <span class="hamburger__line hamburger__line--2"></span>
            <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <div class="black-bg" id="js-black-bg"></div>
    </header>

    <main>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="img" src="static/img/05.jpg"></div>
                <div class="swiper-slide"><img class="img" src="static/img/06.jpg"></div>
                <div class="swiper-slide"><img class="img" src="static/img/07.jpg"></div>
                <div class="swiper-slide"><img class="img" src="static/img/08.jpg"></div>
            </div>
        </div>
        <h1 class="title">旅をするように生きる</h1>
        <h2 class="sub-title">旅人の旅人による旅人のためのサイト</h2>
        <img class="img-traveler-level" src="static/img/09.jpg"></div>
        <div class="traveler-level">
            <div class="traveler-level__title">旅人力診断</div>
            <p></p>
            <div class="traveler-level__sub-title">あなたは松尾芭蕉を超えられるか</div>
            <a href="#" class="btn-circle-border-double">診断</a>
        </div>
        <img class="img-traveler-level" src="static/img/10.jpg"></div>
        <div class="photo-list">
            <p></p>
            <div class="photo-list__title">旅先写真館</div>
            <p></p>
            <div class="photo-list__sub-title">　　 旅人が選ぶ最高の旅先</div>
            <a href="#" class="btn-circle-border-double">写真館</a>
        </div>
    </main>
    <footer>
        <p class="footer">Copyright &copy; 旅人力診断 2020</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script type="text/javascript" src="static/js/sliders.js"></script>
    <script type="text/javascript" src="static/js/nav.js"></script>
    
</body>
</html>