{% extends 'base.html' %}

{% load static %}

{%block title %}マイページ｜旅人力診断{% endblock %}

{% block active_diagnosis_list %}active{% endblock %}

{% block header %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">旅人力診断</h1>
            <br>    
            <h2 class="masthead-subheading mb-0">マイページ</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">訪れた<br>都道府県数</h2>
                    <div class="post-preview">

                        {% for diagnosis in diagnosis_list %}
                        <h1 class="post-title">

                            {% if forloop.first %}
                            {{ diagnosis.prefectures }}
                            {% else %}

                            {% endif %}
                        </h1>
                        {% empty %}
                        <br>
                        <h3>データがありません。</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">訪れた国数</h2>
                    {% for diagnosis in diagnosis_list %}
                    <h1 class="post-title">

                    {% if forloop.first %}
                    {{ diagnosis.countries }}
                    {% else %}  
                    {% endif %}

                    </h1>
                    {% empty %}
                    <br>
                    <h3>データがありません。</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">おすすめの旅先</h2>
                    <p>あなたのお気に入りの旅先は？</p>

                    {% if user.is_authenticated %}
                    <a href="{% url 'traveler:photo_list' %}" class="btn btn-primary btn-xl rounded-pill mt-2">見る</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-2">ログイン</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
