<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>マイページ｜旅人力診断</title>
        <link rel="stylesheet" href="/static/css/my-page.css" />
    </head>
    <body>
        <div class="top">
            <h1 class="top__h1">マイページ</h1>
            <img class="top__img-my-page" src="/static/img/13.jpg"></div>
        </div>

        <h1 class="title">旅をするように生きる</h1>
        <h2 class="sub-title">旅人としてのあなたの記録</h2>

        <img class="img-my-page1" src="/static/img/14.jpg"></div>
        <div class="my-page">
            <div class="my-page__title">
                訪れた<br>都道府県数
            </div>
            <div class="my-page__sub-title">
                {% for diagnosis in diagnosis_list %}
                
                    {% if forloop.first %}
                        {{ diagnosis.prefectures }}
                    {% else %}

                    {% endif %}
                
                    {% empty %}
                    <div>データがありません。</div>
                {% endfor %}
            </div>
        </div>

        <img class="img-my-page1" src="/static/img/15.jpg"></div>
        <div class="my-page">
            <div class="my-page__title">
                訪れた<br>国の数
            </div>
            <div class="my-page__sub-title">
    
                {% for diagnosis in diagnosis_list %}

                    {% if forloop.first %}
                        {{ diagnosis.countries }}
                    {% else %}  
                    {% endif %}
                    
                    {% empty %}
                    <div>データがありません。</div>
                {% endfor %}
            </div>
        </div>

        <img class="img-my-page1" src="/static/img/10.jpg"></div>
        <div class="my-page">
            <div class="my-page__title">
                旅先写真館
            </div>
            <div class="my-page__sub-title2">
            {% if user.is_authenticated %}
            <a href="{% url 'traveler:photo_list' %}" class="btn-circle-border-double">写真館</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="">ログイン</a>
            {% endif %}
            </div>
        </div>
    </body>

    <div id="common"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
            $(function(){
                $("#common").load(src="http://127.0.0.1:8000/common");
            });
            </script>
</html>