<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <title>フォトリスト｜旅人力診断</title>
      <link rel="stylesheet" href="/static/css/style.css" />
      <link rel="stylesheet" href="/static/css/photo-list.css" />
    </head>
    <body>
      <script type="text/javascript" src="/static/js/photos.js"></script>
      <div class="top">
        <h1 class="top__h1">旅先写真館</h1>
        <img class="top__img-photo-list" src="/static/img/10.jpg"></div>
      </div>
      <p  id="test"></h2>
      <p class="" id="id"></h2>

      <div id="common"></div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $(function(){
        $("#common").load(src="http://127.0.0.1:8000/common");
      });
    </script>

    </body>
</html>