@charset "UTF-8";

.global-nav {
    position: fixed;
    right: -320px; 
    top: 0;
    width: 300px; 
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &--item {
        text-align: center;
        padding: 0 14px;
        
            & a {
                display: block;
                font-size: 30px;
                padding: 20px 0;
                border-bottom: 1px solid #eee;
                text-decoration: none;
                color: #111;
  
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}
.nav-open {
    .global-nav {
      right: 0;
    }
  
    .black-bg {
      opacity: .8;
      visibility: visible;
    }
  
    .hamburger__line--1 {
      transform: rotate(45deg);
      top: 40px;
    }
  
    .hamburger__line--2 {
      width: 0;
      left: 50%;
    }
  
    .hamburger__line--3 {
      transform: rotate(-45deg);
      top: 40px;
    }
  }


@media screen and (max-width: 1024px) { 
  .global-nav {
    position: fixed;
        right: -320px;
        top: 0;
        width: 200px;
        height: 100vh;
        padding-top: 40px;
        background-color: #fff;
        -webkit-transition: all .6s;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &--item {
          text-align: center;
          padding: 0 8px;
        
            & a {
              display: block;
              font-size: 20px;
              font-weight: bold;
              padding: 10px 0;
              border-bottom: 1px solid #eee;
              text-decoration: none;
              color: #111;
  
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}
    .nav-open .hamburger__line--1 {
        -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
        top: 30px;
      }
      
      .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
      }
      
      .nav-open .hamburger__line--3 {
        -webkit-transform: rotate(-225deg);
                transform: rotate(-225deg);
        top: 30px;
      }
    }