@charset "UTF-8";
@import "header.scss";
@import "base.scss";
@import "footer.scss";

body{
    margin:15px;
}

.field-label-tag {
    font-size: 60px;
}

.field {
    
    height: 40px;
    
}

.btn-vertical-border {
    display: inline-block;
    vertical-align: bottom;
    top: 160px;
    margin: 7px;
    width: 100px;
    height: 80px;
    font-size: 30px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #67c5ff;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-style: none;
  }
  
  .btn-vertical-border:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background:#67c5ff;
  }

  .btn-vertical-border:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top:0;
    left: 100%;
    border-radius: 3px;
    background:#67c5ff;
  }
  
  .btn-vertical-border:hover:before, .btn-vertical-border:hover:after {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

.footer{
    margin-left: -15px;
    width: 102.2%;
    bottom: -30.4px;
}