.global-nav {
  position: fixed;
  right: -320px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  -webkit-transition: all .6s;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
}

.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-nav__list--item {
  text-align: center;
  padding: 0 14px;
}

.global-nav__list--item a {
  display: block;
  font-size: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}

.global-nav__list--item a:hover {
  background-color: #eee;
}

.nav-open .global-nav {
  right: 0;
}

.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}

.nav-open .hamburger__line--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40px;
}

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger__line--3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40px;
}

@media screen and (max-width: 1024px) {
  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 200px;
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
  }
  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .global-nav__list--item {
    text-align: center;
    padding: 0 8px;
  }
  .global-nav__list--item a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
  }
  .global-nav__list--item a:hover {
    background-color: #eee;
  }
  .nav-open .hamburger__line--1 {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 30px;
  }
  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger__line--3 {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 30px;
  }
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  z-index: 50;
  opacity: 0.6;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 57px;
  height: 2px;
  background-color: #111;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.hamburger__line--1 {
  top: 27px;
}

.hamburger__line--2 {
  top: 40px;
}

.hamburger__line--3 {
  top: 53px;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 50;
    opacity: 0.6;
  }
  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 300;
  }
  .hamburger__line {
    position: absolute;
    left: 11px;
    width: 40px;
    height: 2px;
    background-color: #111;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .hamburger__line--1 {
    top: 20px;
  }
  .hamburger__line--2 {
    top: 30px;
  }
  .hamburger__line--3 {
    top: 40px;
  }
}

body {
  font-family: serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}

.title {
  padding-left: 30px;
  font-size: 50px;
  border-bottom: 1px solid red;
  width: 100%;
}

body {
  margin: 30px;
}

.data {
  margin-left: 300px;
}

.footer {
  width: 104.33%;
  margin-left: -30px;
  bottom: -46px;
}

.btn-sticky {
  font-size: 25px;
  width: 55px;
  height: 35px;
  margin: 15px;
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #faf9f9;
  border-left: solid 6px #5cc3ff;
  color: #5cc3ff;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky:active {
  -webkit-box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
          box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-sticky2 {
  font-size: 25px;
  width: 55px;
  height: 35px;
  margin: 15px;
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #faf9f9;
  border-left: solid 6px #fc6c29;
  color: #fc6c29;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky2:active {
  -webkit-box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
          box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
/*# sourceMappingURL=photo-detail.css.map */