@charset "UTF-8";
@import "header.scss";
@import "base.scss";
@import "footer.scss";


.top {
    position: relative;
    &__h1 {
        position: absolute;
        top: -85px;
        left: 20px;
        font-size: 125px;
    }
    &__img-photo-list {
        width: 100%;
    }
}

.img-photo-list {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img-photo {
    margin-left: 0.6%;
    margin-right: 0.1%;
    width: 32.5%;
    max-width: 32.5%;
    height: 470px;
    min-height: 470px;
    position: relative;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

@media screen and (max-width: 1024px) { 
    .top {
        position: relative;
        margin-bottom: -10px;
        &__h1 {
            position: absolute;
            top: -58px;
            left: 22px;
            font-size: 87px;
            text-align: center;
        }
        &__img-photo-list {
            width: 100%;
        }
    }
    
    .img-photo-list {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .img-photo {
        margin-left: 0.6%;
        margin-right: 0.1%;
        width: 32.5%;
        max-width: 32.5%;
        height: 250px;
        min-height: 250px;
        position: relative;
        padding-bottom: 5px;
        box-sizing: border-box;
      }
}

@media screen and (max-width: 767px) { 
    .top {
        position: relative;
        margin-bottom: -10px;
        &__h1 {
            position: absolute;
            top: -15px;
            left: 10px;
            font-size: 30px;
            text-align: center;
        }
        &__img-photo-list {
            width: 100%;
        }
    }
    
    .img-photo-list {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .img-photo {
        margin-left: 0.6%;
        margin-right: 0.1%;
        width: 32.5%;
        max-width: 32.5%;
        height: 130px;
        min-height: 130px;
        position: relative;
        padding-bottom: 0px;
        box-sizing: border-box;
      }
}